app-favorites {
	width: 100%;
}

li	{
	list-style-type: '>';
	text-align: left;
	font-size: .95em;
}

a	{
	text-decoration: none;
	color: #50fa7b;
	font-weight: bold;
}

.section	{
	border: 2px solid #6272a4;
	border-radius: 5px;
	width: 30%;
	text-align: center;
	padding: auto;
	margin: .5em;
	background-color: #44475a;
}